.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.events {
    list-style: none;
    padding-left: 0;
}

.event-card {
    display: block;
    border: 1px solid #eee;
    margin-bottom: 1.25em;
    padding: .75em;
}
