@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto';
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;
}

p {
	font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto';
}

header,
.search-form {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.events {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}

.event-card {
	flex: 1 1 100%;
	border: 1px solid #eee;
	margin-bottom: 1.25em;
	padding: .75em;
}

@media (min-width: 800px) {
	.event-card {
		flex: 0 1 30%;
		margin: 1.25em 1.1111%;
	}
}
